# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ASU\CourseWorkRepo\CSE512\Assignment4\Hotspot-Analysis-Apache-Sedona-Template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
